.row-fluid
  .span4
    %h4= project.last_closed_milestone['title']
    = partial 'issue_table', :locals => {:issues => project.issues_for_milestone(project.last_closed_milestone['title'])}

  .span4
    %h4 Next
    = partial 'issue_table', :locals => {:issues => project.issues_for_milestone('Next')}

  .span4
    %h4 Next + 1
    = partial 'issue_table', :locals => {:issues => project.issues_for_milestone('Next+1')}
