.row-fluid
  .span3
    %h4 Ready
    = partial 'issue_table', :locals => {:issues => project.ready_issues}

  .span3
    %h4 Working
    = partial 'issue_table', :locals => {:issues => project.working_issues}

  .span3
    %h4 Review
    = partial 'issue_table', :locals => {:issues => project.review_issues}

  .span3
    %h4 Pulls
    = partial 'issue_table', :locals => {:issues => project.pull_requests}
